﻿@page "/fetchdata"

@using BlazorAppLogiin.Data
@using DevExpress.Blazor;
@inject WeatherForecastService ForecastService

@attribute [Authorize]
<h1>Weather forecast</h1>

<p>This component demonstrates a devExpress component. </p>
<p>All CRUD operations works! But stored in memory.</p>

<DxDataGrid DataAsync="@ForecastService.GetForecastAsync"
            RowRemovingAsync="@OnRowRemoving"
            RowUpdatingAsync="@OnRowUpdating"
            RowInsertingAsync="@OnRowInserting"
            PageSize="5" EditMode="DataGridEditMode.PopupEditForm">
    <DxDataGridCommandColumn Width="150px" />
    <DxDataGridDateEditColumn Field="@nameof(WeatherForecast.Date)" DisplayFormat="D" EditorFormat="d" EditorDisplayFormat="D" />
    <DxDataGridColumn Field="@nameof(WeatherForecast.Summary)" Caption="Forecast" Width="150px" />
    <DxDataGridSpinEditColumn Field="@nameof(WeatherForecast.TemperatureC)" Caption="@("Temp. (\x2103)")" TextAlignment="@DataGridTextAlign.Left"
                              Width="150px" />
</DxDataGrid>

@code {

    async Task OnRowRemoving(WeatherForecast dataItem)
    {
        await ForecastService.Remove(dataItem);
    }
    async Task OnRowUpdating(WeatherForecast dataItem, IDictionary<string, object> newValue)
    {
        await ForecastService.Update(dataItem, newValue);
    }
    async Task OnRowInserting(IDictionary<string, object> newValue)
    {
        await ForecastService.Insert(newValue);
    }
    Task OnInitNewRow(Dictionary<string, object> values)
    {
        values.Add("Date", DateTime.Now);
        values.Add("TemperatureC", 13);
        values.Add("Forecast", "Warm");
        values.Add("CloudCover", "Sunny");
        return Task.CompletedTask;
    }
}
