﻿@page "/"

<h1>Domingos De Paola Test</h1>

<p>Welcome to my test.</p>

<p>The route Fetch Data is Private, the others are public (home and counter) </p>
<p>Is necessary to apply migrations and register a new user to use the login.</p>
<p>You can do this by clicking in the register button, the Apply Migrations button will appear with an error, click in the Apply Migrations and refresh the page.</p>
<p>All CRUD operations in the devExpress Grid Component was implemented but the data was stored in memory.</p>
