﻿.dxbs-button-icon {
    width: 20px;
    height: 20px;
    display: none;
}
.dx-blazor-clear-button-icon {
    width: 20px;
    height: 20px;
    display: none;
}
.dxbs-input-group-append{
    display: none;
}
